**/node_modules
**/dist
**/.env
**/*.log
**/.gradle
**/.cache
**/.devin
**/build
**/coverage
**/target
**/.DS_Store
**/*.keystore
**/*.jks
**/*.p8
**/*.p12
**/*.pfx
**/*.pem
**/*.key
**/*.mobileprovision
.vscode
.git
desktop/src-tauri/target
